@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.header__logo {
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 5px lightgrey;
  margin-bottom: 5px;
}
.header__logo h1 {
  font-family: "Shrikhand", serif;
  color: #000;
}

.local {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 50px;
  background-color: #eaeaea;
}
.local i {
  margin-right: 10px;
}
.local p {
  font-weight: 500;
}

.search__restaurant {
  padding: 30px 0 30px 0;
  background-color: #F6F6F6;
}
.search__restaurant h2 {
  text-align: center;
  margin: auto;
  width: 90%;
  font-weight: 900;
}
.search__restaurant--description {
  padding: 10px 0 30px 0;
  font-weight: 300;
  text-align: center;
}
.search__restaurant .search__bar p {
  font-weight: 500;
  width: 200px;
  text-align: center;
  margin: auto;
  border-radius: 50px;
  padding: 15px;
  background: linear-gradient(#FF79DA, #9356dc);
  box-shadow: 1px 11px 14px 0px rgba(32, 31, 31, 0.38);
  cursor: pointer;
}
.search__restaurant .search__bar p:hover {
  opacity: 0.8;
}
.search__restaurant .search__bar a {
  color: white;
}

.operations__content {
  padding: 50px 15px 35px 15px;
}
.operations__content h2 {
  margin: 0 0 20px 0;
  font-weight: 900;
}
.operations__content ol li {
  padding: 20px 20px 20px 0;
  margin-bottom: 20px;
  border-radius: 15px;
  font-weight: 500;
  background-color: #F6F6F6;
  box-shadow: silver 2px 2px 2px;
}
.operations__content ol li:hover {
  cursor: pointer;
  box-shadow: 0 3px 5px #9356dc;
  transition: 0.5s;
  transform: scale(1.02);
}
.operations__content ol li:hover i {
  color: #9356dc;
}
.operations__content ol li span {
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
  margin-left: -10px;
  background-color: #9356dc;
  color: #fff;
}
.operations__content ol li i {
  margin: 0 20px;
  font-size: 20px;
}

.section__restaurants {
  background-color: #F6F6F6;
}
.section__restaurants h2 {
  font-weight: 900;
  padding: 40px 0 0 15px;
  margin-bottom: 20px;
  font-family: "Shrikhand", serif;
  font-weight: 400;
}
.section__restaurants .restaurants__content {
  position: relative;
  border-radius: 15px;
  padding: 0 0 20px 0;
  margin-bottom: 20px;
  background-color: #fff;
}
.section__restaurants .restaurants__content img {
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 160px;
}
.section__restaurants .restaurants__content .new__content {
  position: absolute;
  top: 1rem;
  right: 30px;
  padding: 0.5rem;
  background-color: #99E2D0;
  color: #1b6150;
  font-weight: 800;
}
.section__restaurants .restaurants__content .restaurants__description {
  position: relative;
}
.section__restaurants .restaurants__content .restaurants__description a {
  color: #000;
}
.section__restaurants .restaurants__content .restaurants__description a .restaurant__description--text h3 {
  font-weight: 900;
  color: #000;
  margin: 10px 0 0 20px;
  font-family: "Shrikhand", serif;
  font-weight: 300;
}
.section__restaurants .restaurants__content .restaurants__description a .restaurant__description--text p {
  margin: 8px 0 0 20px;
  font-weight: 500;
  color: #000;
}
.section__restaurants .restaurants__content .restaurants__description .hearts {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.section__restaurants .restaurants__content .restaurants__description .hearts i {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 1rem;
  font-size: 2rem;
}
.section__restaurants .restaurants__content .restaurants__description .hearts .fas {
  color: transparent;
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
.section__restaurants .restaurants__content .restaurants__description .hearts .fas:hover {
  opacity: 1;
  transition: opacity 700ms linear;
  cursor: pointer;
}
.section__restaurants .transition-card {
  transition: transform 250ms ease-in-out;
}
.section__restaurants .transition-card:hover {
  transform: scale(1.05);
}

footer {
  background-color: #2d2a2a;
  padding: 25px 0 25px 25px;
}
footer a {
  color: #fff;
}
footer a h3 {
  font-weight: 900;
  padding-bottom: 25px;
  font-family: "Shrikhand", serif;
}
footer ul li {
  padding-bottom: 8px;
}
footer ul li:hover {
  text-decoration: underline;
  color: #fff;
}
footer ul li i {
  margin-right: 10px;
  font-size: 15px;
}

@media all and (min-width: 760px) and (max-width: 1023px) {
  .operations__content h2 {
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
  }
  .operations__content ol {
    width: 90%;
    margin: auto;
  }
  .section__restaurants {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .section__restaurants h2 {
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
  }
  .section__restaurants .restaurants__content {
    width: 40%;
  }
}
@media all and (min-width: 1024px) {
  .operations__content h2 {
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
  }
  .operations__content ol {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .operations__content ol li {
    width: 29%;
  }
  .section__restaurants {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .section__restaurants h2 {
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
  }
  .section__restaurants .restaurants__content {
    width: 40%;
  }
}/*# sourceMappingURL=style.css.map */