<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../imgs/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../imgs/favicon//favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../imgs/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../imgs/favicon/site.webmanifest" />
    <link rel="stylesheet" href="../style/style.css" />
    <title>La note enchantée</title>
  </head>
  <body>
    <!-- Header -->
    <header class="header__logo">
      <a href="../index.html"><i class="fas fa-arrow-left"></i></a>
      <a href="../index.html">
        <h1>ohmyfood</h1>
      </a>
    </header>
    <!-- Photo du menu -->
    <div class="restaurant__recipe__photo">
      <img src="../imgs/stil-u2Lp8tXIcjw-unsplash.jpg" alt="La palette du goût" />
    </div>
    <main>
      <!-- Nom du menu -->
      <section class="menu__restaurant">
        <div class="title__restaurant">
          <h2>La note enchantée</h2>
          <div class="hearts">
            <i class="far fa-heart heart"></i>
            <i class="fas fa-heart heart"></i>
          </div>
        </div>
        <!-- Entrées -->
        <div class="card__restaurant">
          <h3>entrées</h3>
        </div>
        <!-- première entrées -->
        <article class="the__entrees the__entrees__delay__1">
          <div class="the__entrees__content">
            <div class="the__entrees__infos">
              <h4>Ravioles de foie gras</h4>
              <p>Accompagnées de leur crème à la truffe</p>
            </div>
            <p class="entrees__price">25€</p>
            <div class="check-icon">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
        </article>
        <!-- deuxième entrées-->
        <article class="the__entrees the__entrees__delay__2">
          <div class="the__entrees__content">
            <div class="the__entrees__infos">
              <h4>Caviar osciètre</h4>
              <p>Sur blini à la farine de blé noir</p>
            </div>
            <p class="entrees__price">35€</p>
            <div class="check-icon">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
        </article>

        <article class="the__entrees the__entrees__delay__3">
          <div class="the__entrees__content">
            <div class="the__entrees__infos">
              <h4>Homard et espuma de potiron</h4>
              <p>Marinés aux zestes d'orange</p>
            </div>
            <p class="entrees__price">20€</p>
            <div class="check-icon">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
        </article>
        <!-- troisième entrées-->
        <article class="the__entrees the__entrees__delay__4">
          <div class="the__entrees__content">
            <div class="the__entrees__infos">
              <h4>Foie gras de canard cuit entier</h4>
              <p>Confiture de figue et pain toasté</p>
            </div>
            <p class="entrees__price">35€</p>
            <div class="check-icon">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
        </article>

        <!-- Plats -->
        <div class="card__restaurant">
          <h3>Plats</h3>
        </div>
        <!-- première plat -->
        <article class="the__entrees the__entrees__delay__1">
          <div class="the__entrees__content">
            <div class="the__entrees__infos">
              <h4>Noix de coquilles Saint-Jacques</h4>
              <p>Sur lit de purée de céleri-rave</p>
            </div>
            <p class="entrees__price">40€</p>
            <div class="check-icon">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
        </article>
        <!-- deuxième plat-->
        <article class="the__entrees the__entrees__delay__2">
          <div class="the__entrees__content">
            <div class="the__entrees__infos">
              <h4>Langoustine poêlée</h4>
              <p>Purée de patate douce</p>
            </div>
            <p class="entrees__price">35€</p>
            <div class="check-icon">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
        </article>
        <!-- troisième plat-->
        <article class="the__entrees the__entrees__delay__3">
          <div class="the__entrees__content">
            <div class="the__entrees__infos">
              <h4>Mijoté de queue de bœuf</h4>
              <p>Et riz sauvage aux zestes de citron</p>
            </div>
            <p class="entrees__price">44€</p>
            <div class="check-icon">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
        </article>

        <!-- Desserts -->
        <div class="card__restaurant">
          <h3>Desserts</h3>
        </div>
        <!-- première dessert -->
        <article class="the__entrees the__entrees__delay__1">
          <div class="the__entrees__content">
            <div class="the__entrees__infos">
              <h4>Macaron noisette et chocolat</h4>
              <p>Glace au caramel brun et sel de Guérande</p>
            </div>
            <p class="entrees__price">18€</p>
            <div class="check-icon">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
        </article>
        <!-- deuxième dessert-->
        <article class="the__entrees the__entrees__delay__2">
          <div class="the__entrees__content">
            <div class="the__entrees__infos">
              <h4>Baba au rhum revisité</h4>
              <p>Avec son coulis de citron</p>
            </div>
            <p class="entrees__price">22€</p>
            <div class="check-icon">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
        </article>
        <!-- troisième desserts-->
        <article class="the__entrees the__entrees__delay__3">
          <div class="the__entrees__content">
            <div class="the__entrees__infos">
              <h4>Tarte au citron meringuée</h4>
              <p>Déstructurée</p>
            </div>
            <p class="entrees__price">23€</p>
            <div class="check-icon">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
        </article>
        <!-- bouton commander -->
        <div class="command__btn">
          <a href="#"> <p>Commander</p></a>
        </div>
      </section>
    </main>

    <!--== Footer -->
    <footer class="footer">
      <div class="menu-footer">
        <!--logo du site-->
        <h3><a href="../index.html">ohmyfood</a></h3>
        <!--Proposition de restaurant et Partenariant-->
        <ul>
          <li>
            <a href="#"
              ><i class="fas fa-utensils"></i>Proposer un restaurant</a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fas fa-hands-helping"></i>Devenir partenaire</a
            >
          </li>
        </ul>
        <!--Mentions légales et Contact-->
        <ul>
          <li><a href="#">Mentions légales</a></li>
          <li><a href="mailto:ohmyfood@gmail.fr">Contact</a></li>
        </ul>
      </div>
  </body>
</html>
