<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    >
    <link rel="stylesheet" href="/style/style.css" >
    <title>La palette du goût</title>
  </head>
  <body>
    <!-- Header -->
    <header class="header__logo">
      <a href="/index.html"><i class="fas fa-arrow-left"></i></a>
      <a href="/index.html">
          <h1>ohmyfood</h1>
      </a>

  </header>
    </header>
    <main>
     <img src="/imgs/jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="La palette du goût">

     <div class="menu">
        <div class="title__restaurant">

            <h2>La palette du goût</h2>

            <div class="hearts">
                <i class="far fa-heart heart"></i>
                <i class="fas fa-heart heart"></i>
            </div>

        </div>
    </main>

    <footer class="footer">
        <!--logo du site-->
        <a href="index.html">
          <h3>ohmyfood</h3>
        </a>
      <!--Proposition de restaurant et Partenariant-->
      <ul>
          <li><a href="#"><i class="fas fa-utensils footer-icons"></i>Proposer un restaurant</a></li>
          <li><a href="#"><i class="fas fa-hands-helping footer-icons"></i>Devenir partenaire</a></li>
      </ul>

      <!--Mentions légales et Contact-->
      <ul>
          <li><a href="#">Mentions légales</a></li>
          <li><a href="mailto:ohmyfood@gmail.fr">Contact</a></li>
      </ul>
    </footer>
  </body>
</html>
